[Unit]
Description=react
After=network.target

[Service]
Type=simple
ExecStart/bin/gpart.sh npm --prefix /var/www/html/traning/gpart start
ExecStop=/usr/bin/kill -WINCH ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target