[Unit]
Description=Backend
After=network.target

[Service]
Type=simple
ExecStart=/bin/router.sh node /var/www/htmnl/traning/backend/router.js
ExecStop=/usr/bin/kill -WINCH ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target